extends layout

block content
    h2 Forgot Password
    form(action="/forgot" method="POST")
        p email:
            input(type="text" name="email" placeholder="" required)
            input(type="hidden" name="_csrf" value=csrfToken) 
        input(type="submit")
