extends layout

block content
    div.row
        div.col-sm-4.col-sm-offset-4
            h1 Login
            form(action="/login/password" method="POST")
                div.form-group
                    label(for="inputEmail") Email
                    input.form-control(id="inputEmail", type="text" name="email" placeholder="" required)
                div.form-group
                    label(for="inputPassword") Password
                    input.form-control(id="inputPassword", type="password" name="password" placeholder="" required)
                    input.form-control(type="hidden" name="_csrf" value=csrfToken) 
                div.form-group
                    button.btn.btn-primary.btn-block.btn-lg(type="submit") Log in
