extends layout  

block content
    h2 Signup
    form(action="/signup" method="POST")
        p email:
            input(type="text" name="email" placeholder="" required)
        p password:
            input(type="password" name="password" placeholder="" required)
            input(type="hidden" name="_csrf" value=csrfToken) 
        input(type="submit")
